.App {
	text-align: center;
}

.head {
	padding-top: 70px;
	color: white;
	text-align: center;
	font-family: Luminari, fantasy;
}
.head_2 {
	padding-bottom: 70px;
	color: white;
	text-align: center;
	font-family: Luminari, fantasy;
}
.selectLabel {
	color: white;
	font-family: 'Courier New', Courier, monospace;
}
